@use "./queries.scss";
@import "./queries.scss";

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
  border: red 2px solid;
  width: fit-content;
  @include mid-break {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  @include large-break {
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-columns: repeat(2, 1fr);
  }

  .projectCard {
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    // z-index: 1;

    flex: 1;

    // When hovering over a specific card:
    &:hover {
      transform: scale(1.1);
      flex: 2;
      opacity: 1;
      //   z-index: 10;
    }
  } // When hovering over the whole grid:
  &:hover .projectCard:not(:hover) {
    transform: scale(0.95);
    opacity: 0.7;
  }
}
