@use "./queries.scss";
@import "./queries.scss";

.main {
  margin-bottom: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;

  /* Combined horizontal and vertical gradients */
  -webkit-mask-image: linear-gradient(
      to left,
      transparent,
      white 40%,
      white 70%,
      transparent
    ),
    linear-gradient(to bottom, transparent, white 30%, white 70%, transparent);
  -webkit-mask-repeat: no-repeat, no-repeat;
  -webkit-mask-size: 100% 100%, 100% 100%;
  -webkit-mask-composite: destination-in;

  mask-image: linear-gradient(
      to left,
      transparent,
      white 40%,
      white 70%,
      transparent
    ),
    linear-gradient(to bottom, transparent, white 10%, white 70%, transparent);
  mask-repeat: no-repeat, no-repeat;
  mask-size: 100% 100%, 100% 100%;
  mask-composite: intersect;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 210px);
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider p {
  margin: 0px;
  color: white;
  font-size: 10em;
  font-weight: 400;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}
